.header-wrapper {
    width: 80%;
    header {
        display: flex;
        .menu-item {
            position: relative;
            padding: 25px 30px;
            margin-right: 10px;
            border-radius: 10% 10% 0% 0%;
            overflow: hidden;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #b4e0eb;
                color: black;
            }
            a.active {
                background-color: #86c9dc;
            }
        }
    }
}
